@(createForm: Form[models.Change], users: List[(String,String)], types: List[(String,String)])(implicit request: AuthenticatedRequest)

@import helper.bootstrap._

@main(Messages("change.add")) {
<h1>@Messages("change.add")</h1>
@helper.form(action = routes.Change.add(), args = 'method -> "POST") {
 <fieldset>
  @helper.inputText(field = createForm("summary"), args = 'class -> "span8", '_label -> Messages("change.summary"))
  @helper.select(field = createForm("change_type_id"), options = types, args = '_label -> Messages("change.type"))
  @helper.select(field = createForm("owner_id"), options = users, args = '_label -> Messages("change.owner"))
  @helper.inputText(field = createForm("duration"), args = 'class -> "span4", '_label -> Messages("change.duration"))
  @helper.inputText(field = createForm("risk"), args = 'class -> "span4", '_label -> Messages("change.risk"))
  @helper.textarea(field = createForm("description"), args = '_label -> Messages("change.description"), 'class -> "input-xxlarge", 'rows -> 5)
  @helper.inputText(field = createForm("date_scheduled"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("change.date_scheduled"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = createForm("time_scheduled"), args = 'class -> "timepicker", '_label -> Messages("change.time_scheduled"), 'append -> Html("<i class=\"icon-time\"></i>"))
  <div id="mycalendar"></div>
  <div class="form-actions">
   <a href="@controllers.routes.Core.index()" class="btn"><i class="icon-remove"></i> @Messages("form.cancel") XXX</a>
   <button id="save-add" type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
 <script>
 YUI().use('event', 'calendar', function (Y) {
  Y.one("#save-add").on('click', function(e) {
    var durfield = Y.one("#duration");
    durfield.set("value", juration.parse(durfield.get("value")));
  })
 });
 $('.datepicker').datepicker({ format: "yyyy-mm-dd" });
 $('.timepicker').timePicker({ step: 15 });
 </script>
}
}
