@(changeId: Long, form: Form[models.Change], users: List[(String,String)], types: List[(String,String)])(implicit request: AuthenticatedRequest)

@import helper.bootstrap._

@main(Messages("change.edit", changeId)) {
<h1>@Messages("change.edit", changeId)</h1>
@helper.form(action = routes.Change.update(id = changeId), args = 'method -> "POST") {
 <fieldset>
  @helper.inputText(field = form("summary"), args = 'class -> "span8", '_label -> Messages("change.summary"))
  @helper.select(field = form("change_type_id"), options = types, args = '_label -> Messages("change.type"))
  @helper.select(field = form("owner_id"), options = users, args = '_label -> Messages("change.owner"))
  @helper.inputText(field = form("duration"), args = 'class -> "span4", '_label -> Messages("change.duration"))
  @helper.inputText(field = form("risk"), args = 'class -> "span4", '_label -> Messages("change.risk"))
  @helper.textarea(field = form("description"), args = '_label -> Messages("change.description"), 'class -> "input-xxlarge", 'rows -> 5)
  @helper.inputText(field = form("date_begun"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("change.date_begun"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = form("time_begun"), args = 'class -> "timepicker", '_label -> Messages("change.time_begun"), 'append -> Html("<i class=\"icon-time\"></i>"))

  @helper.inputText(field = form("date_closed"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("change.date_closed"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = form("time_closed"), args = 'class -> "timepicker", '_label -> Messages("change.time_closed"), 'append -> Html("<i class=\"icon-time\"></i>"))

  @helper.inputText(field = form("date_completed"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("change.date_completed"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = form("time_completed"), args = 'class -> "timepicker", '_label -> Messages("change.time_completed"), 'append -> Html("<i class=\"icon-time\"></i>"))

  @helper.inputText(field = form("date_scheduled"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("change.date_scheduled"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = form("time_scheduled"), args = 'class -> "timepicker", '_label -> Messages("change.time_scheduled"), 'append -> Html("<i class=\"icon-time\"></i>"))
  <div class="form-actions">
   <a href="@controllers.routes.Core.index()" class="btn"><i class="icon-remove"></i> @Messages("form.cancel") XXX</a>
   <button type="submit" id="save-edit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
 <script>
 YUI().use('event', function (Y) {
  Y.one("#save-edit").on('click', function(e) {
    var durfield = Y.one("#duration");
    durfield.set("value", juration.parse(durfield.get("value")));
  })
  $('.datepicker').datepicker({ format: "yyyy-mm-dd" });
  $('.timepicker').timePicker({ step: 15 });
 });
 </script>
}
}
