@(change: models.Change)(implicit request: AuthenticatedRequest)

@import sultan.{DateFormatter,TextRenderer}

@main(Messages("change.with.id", change.id.get)) {
<h2><span class="label" style="background-color: #@change.color"><i class="@change.icon"></i>@Messages(change.status)</span> <a class="btn" href="@routes.Change.edit(change.id.get)"><i class="icon-edit"></i></a> @Messages("change.headline", change.id, change.summary)</h2>
<div class="change-detail">
<div class="row">
 <div class="span4">
  <label>@Messages("change.date_created")</label>
  <span>@DateFormatter.displayLongDateTime(change.dateCreated, request.user.timeZone)</span>
 </div>
 <div class="span4">
  @if(change.dateBegun.isDefined) {
    <label>@Messages("change.friendly.date_begun")</label>
    <span>@DateFormatter.displayLongDateTime(change.dateBegun, request.user.timeZone)</span>
  } else {
    <label>@Messages("change.friendly.date_scheduled")</label>
    <span>@DateFormatter.displayLongDateTime(change.dateScheduled, request.user.timeZone)</span>
  }
 </div>
 <div class="span4">
  @if(change.dateClosed.isDefined) {
    <label>@Messages("change.date_closed")</label>
    <span>@change.dateClosed</span>
  } else {
    @if(change.dateCompleted.isDefined) {
    <label>@Messages("change.friendly.date_completed")</label>
    <span>change.dateCompleted</span>
    } else {
    <label>@Messages("change.friendly.date_estimated")</label>
    <span>XXX</span>
    }
  }
 </div>
</div>
</div>
  <label>@Messages("change.friendly.description")</label>
  <span>@Html(TextRenderer.render(markdown = change.description))</span>
  <label>@Messages("change.notes")</label>
  <span>@Html(TextRenderer.render(markdown = change.notes))</span>XXX none text

}
