@(implicit request: AuthenticatedRequest)

@main(Messages("admin.title")) {
<div class="well">
<div class="row-fluid">
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-user"></i> @Messages("admin.people")</li>
   <li><a href="@controllers.admin.routes.User.index()">@Messages("admin.user.menu.list")</a></li>
  </ul>
 </div>
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-book"></i> @Messages("admin.systems")</li>
   <li><a href="@controllers.admin.routes.System.index()">@Messages("admin.system.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.ChangeType.index()">@Messages("admin.change_type.menu.list")</a></li>
  </ul>
 </div>
</div>
<hr>
<div class="row-fluid">
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-wrench"></i> @Messages("admin.general")</li>
   <li><a href="@routes.Admin.reindex">@Messages("admin.reindex")</a></li>
  </ul>
 </div>
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-calendar"></i> @Messages("admin.window.list")</li>
   <li><a href="@controllers.admin.routes.Window.index()">@Messages("admin.window.list")</a></li>
   <li><a href="@controllers.admin.routes.WindowType.index()">@Messages("admin.window_type.list")</a></li>
  </ul>
 </div>
</div>
</div>
}
