@(implicit request: AuthenticatedRequest)

<div class="nav-collapse">
 <ul class="nav">
  <li @if(request.path.equals("/") && !request.queryString.get("begun").isDefined && !request.queryString.get("completed")) { class="active" }><a href="@routes.Core.index()">@Messages("general.upcoming")</a></li>
  <li @if(request.queryString.get("begun").isDefined) { class="active" }><a href="@routes.Core.index()?begun=true">@Messages("general.in_progress")</a></li>
  <li @if(request.queryString.get("completed").isDefined) { class="active" }><a href="@routes.Core.index()?completed=true">@Messages("general.completed")</a></li>
  <li @if(request.path.startsWith("/admin")) { class="active" }><a href="@routes.Admin.index()">@Messages("general.admin")</a></li>
 </ul>
@helper.form(action = routes.Core.index(), 'class -> "navbar-search") {
 <input type="text" name="query" class="search-query" placeholder="Search">
}
 <a class="btn btn-primary" href="@controllers.routes.Change.create()">@Messages("change.add")</a>
 <div class="btn-group pull-right">
  @if(request.user.isAnonymous) {
   <a href="@controllers.routes.Auth.login(redirectUrl = request.request.uri)" class="btn btn-primary">@Messages("auth.login")</a>
  } else {
   <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
     @request.user.username
     <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
    <li><a href="@routes.Auth.logout"><i class="icon-eject"></i> @Messages("auth.logout")</a></li>
   </ul>
  }
 </div>
 <div id="linker" class="btn-group pull-right"></div>
</div>
