@(id: Long, objForm: Form[(Window)], types: List[(String,String)])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap._

@main(Messages("admin.window.edit")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Window.index()">@Messages("admin.window.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages("admin.window.with.id", objForm("name").value.get)</li>
</ul>
<h1>@Messages("admin.window.edit")</h1>
@objForm.globalError.map { error =>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    @Messages(error.message)
  </div>
}
@helper.form(action = controllers.admin.routes.Window.update(id)) {
 <fieldset>
  @helper.select(field = objForm("window_type_id"), options = types, args = '_label -> Messages("window.type"))
  @helper.inputText(objForm("name"), '_label -> Messages("window.name"))
  @helper.inputText(objForm("description"), '_label -> Messages("window.description"))
  <div style="clear: both">
  @helper.inputText(field = objForm("date_begun"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("window.date_begun"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = objForm("time_begun"), args = 'class -> "timepicker", '_label -> Messages("window.time_begun"), 'append -> Html("<i class=\"icon-time\"></i>"))
  </div>
  <div style="clear: both">
  @helper.inputText(field = objForm("date_ended"), args = 'controlClass -> "pull-left", 'class -> "datepicker", '_label -> Messages("window.date_ended"), 'append -> Html("<i class=\"icon-calendar\"></i>"))
  @helper.inputText(field = objForm("time_ended"), args = 'class -> "timepicker", '_label -> Messages("window.time_ended"), 'append -> Html("<i class=\"icon-time\"></i>"))
  </div>
  <div class="form-actions">
   <a href="@controllers.admin.routes.Window.index()" class="btn">@Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}