@(window: models.Window)(implicit request: AuthenticatedRequest)
@main(Messages("admin.window.with.id", window.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Window.index()">@Messages("admin.window.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@window.name</li>
</ul>
<h1><a class="btn" href="@controllers.admin.routes.Window.edit(window.id.get)"><i class="icon-edit"></i></a> @Messages("window.with.id", window.name)</h1>
<div class="well well-small obj-info">
  XXX more here
 <div class="row">
  <div class="span4">
   <div class="info"><label>@Messages("window.name")</label><span>@window.name</span></div>
  </div>
 </div>
</div>
}
