@(user: models.User)(implicit request: AuthenticatedRequest)
@main(Messages("admin.user.with.id", user.username)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index()">@Messages("admin.user.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@user.username</li>
</ul>
<h1><a class="btn" href="@controllers.admin.routes.User.edit(user.id.get)"><i class="icon-edit"></i></a> @Messages("user.with.id", user.username)</h1>
<div class="well well-small obj-info">
 <div class="row">
  <div class="span4">
   <div class="info"><label>@Messages("user.username")</label><span>@user.username</span></div>
   <div class="info"><label>@Messages("user.realname")</label><span>@user.realName</span></div>
  </div>
 </div>
</div>
}
