@(type: models.ChangeType)(implicit request: AuthenticatedRequest)
@main(Messages("admin.change_type.with.id", system.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.ChangeType.index()">@Messages("admin.change_type.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@type.name</li>
</ul>
<h1><a class="btn" href="@controllers.admin.routes.ChangeType.edit(type.id.get)"><i class="icon-edit"></i></a> @Messages("change_type.with.id", type.name)</h1>
<div class="well well-small obj-info">
  XXX more here
 <div class="row">
  <div class="span4">
   <div class="info"><label>@Messages("change_type.name")</label><span>@change_type.name</span></div>
  </div>
 </div>
</div>
}
