@(filters: Map[String,Seq[String]], result: sultan.Search.SearchResult[models.FullChange])(implicit request: AuthenticatedRequest)

@import sultan.Library
@import views.html.util._
@import sultan.DateFormatter

@main(Messages("general.change.management")) {
<div class="row-fluid">
 <div class="span2">
  <ul class="nav nav-list well search-well">
  @filters.map { key =>
   <li class="filter"><a style="text-align: left" class="btn btn-mini" href="@Library.filterLink(params = request.queryString, path = request.path, name = key._1, value = "")">@Messages("search.facet.filter." + key._1, Messages(key._2(0)))<i class="icon-remove-circle icon-white"></i></a></li>
  }
  @if(result.facets.size > 0) {
  @result.facets.map { facet =>
   <li class="nav-header">@Messages("search.facet." + facet.name)</li>
   @facet.items.map { entry =>
   <li><a href="@Library.filterLink(params = request.queryString, path = request.path, name = facet.name, value = entry.value)">@Messages(entry.value) <span class="badge">@entry.count</span></a></li>
   }
  }
  </ul>
  } else {
   <h5>@Messages("search.facet.none")</h5>
  }
 </div>
 <div class="span10">
  <table class="table table-bordered table-rounded table-striped ">
   <thead>
    <th style="width: 10%"><a href="@Library.sortLink(params = request.queryString, path = request.path, name = "id")">@Messages("change.id")</a></th>
    <th style="width: 10%"><a href="@Library.sortLink(params = request.queryString, path = request.path, name = "type")">@Messages("change.type")</a></th>
    <th style="width: 10%">@Messages("change.status")</th>
    <th>@Messages("change.summary")</th>
    <th><a href="@Library.sortLink(params = request.queryString, path = request.path, name = "owner")">@Messages("change.owner")</a></th>
    <th><a href="@Library.sortLink(params = request.queryString, path = request.path, name = "date_scheduled")">@Messages("change.date_scheduled")</a></th>
    <th><a href="@Library.sortLink(params = request.queryString, path = request.path, name = "risk")">@Messages("change.risk")</a></th>
    <th><a href="@Library.sortLink(params = request.queryString, path = request.path, name = "duration")">@Messages("change.duration")</a></th>
   </thead>
   <tbody>
    @result.pager.items.map { change =>
    <tr>
     <td><a href="@routes.Change.item(change.id.get)">@change.id.get</a></td>
     <td><span class="label" style="background-color: #@change.changeType.color">@change.changeType.i18nName</span></td>
     <td><span class="label" style="background-color: #@change.color"><i class="@change.icon"></i> @Messages(change.status)</span></td>
     <td><a href="@routes.Change.item(change.id.get)">@change.summary</a></td>
     <td>@change.owner.name</td>
     <td>@DateFormatter.displayLongDateTime(change.dateScheduled, request.user.timeZone)</td>
     <td>@change.risk</td>
     <td>@change.duration</td>
    </tr>
    }
   </tbody>
   <tfoot>
    <tr>
     <td colspan="8">
       @pager(result.pager)
     </td>
    </tr>
   </tfoot>
  </table>
 </div>
</div>

}