@(system: models.System)(implicit request: AuthenticatedRequest)
@main(Messages("admin.system.with.id", system.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.System.index()">@Messages("admin.system.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@system.name</li>
</ul>
<h1><a class="btn" href="@controllers.admin.routes.System.edit(system.id.get)"><i class="icon-edit"></i></a> @Messages("system.with.id", system.name)</h1>
<div class="well well-small obj-info">
  XXX more here
 <div class="row">
  <div class="span4">
   <div class="info"><label>@Messages("system.name")</label><span>@system.name</span></div>
  </div>
 </div>
</div>
}
